
<div class="btn-group-vertical btn-group-sm" role="group">
<button type="button" class="btn btn-outline-secondary">Acre</button>
<button type="button" class="btn btn-outline-secondary">Alagoas</button>
<button type="button" class="btn btn-outline-secondary">Amapá</button>
<button type="button" class="btn btn-outline-secondary">Amazonas</button>
<button type="button" class="btn btn-outline-secondary">Bahia</button>
<button type="button" class="btn btn-outline-secondary">Ceará</button>
<button type="button" class="btn btn-outline-secondary">Distrito Federal</button>
<button type="button" class="btn btn-outline-secondary">Espírito Santo</button>
<button type="button" class="btn btn-outline-secondary">Goiás</button>
<button type="button" class="btn btn-outline-secondary">Maranhão</button>
<button type="button" class="btn btn-outline-secondary">Mato Grosso</button>
<button type="button" class="btn btn-outline-secondary">Mato Grosso do Sul</button>
<button type="button" class="btn btn-outline-secondary">Minas Gerais</button>
<button type="button" class="btn btn-outline-secondary">Pará</button>
<button type="button" class="btn btn-outline-secondary">Paraíba</button>
<button type="button" class="btn btn-outline-secondary">Paraná</button>
<button type="button" class="btn btn-outline-secondary">Pernambuco</button>
<button type="button" class="btn btn-outline-secondary">Piauí</button>
<button type="button" class="btn btn-outline-secondary">Rio de Janeiro</button>
<button type="button" class="btn btn-outline-secondary">Rio Grande do Norte</button>
<button type="button" class="btn btn-outline-secondary">Rio Grande do Sul</button>
<button type="button" class="btn btn-outline-secondary">Rondônia</button>
<button type="button" class="btn btn-outline-secondary">Roraima</button>
<button type="button" class="btn btn-outline-secondary">Santa Catarina</button>
<button type="button" class="btn btn-outline-secondary">São Paulo</button>
<button type="button" class="btn btn-outline-secondary">Sergipe</button>
<button type="button" class="btn btn-outline-secondary">Tocantins</button>
</div>

  <select class="form-control" [(ngModel)]="estadoSelecionado.id" (change)="onSelect($any($event.target).value)" id="sel1">
     <option value="0">--Selecione--</option>
     <option *ngFor="let estado of estados" value= {{estado.id}}> {{estado.nome}} </option>
  </select>

  <br>

  <div>
   <select class="form-control">
     <option *ngIf='estadoSelecionado.id == 0' value="0">--Selecione--</option>
     <option *ngFor="let cidade of cidades" value= {{cidade.id}}> {{cidade.nome}} </option>
   </select>
  </div>


  <div class="btn-group" role="group" aria-label="Grupo de botões com dropdown aninhado">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>

    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Link dropdown</a>
        <a class="dropdown-item" href="#">Link dropdown</a>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
